<app-header></app-header>
<main>
  <!-- <ul id="users">
    <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectedUser($event)"></app-user>
    </li>
  </ul>
  <app-tasks *ngIf="name; else fallback" [name]="name"></app-tasks>
  <ng-template #fallback>
    <p id="'fallback">Select a user to see their tasks!</p>
  </ng-template> -->

  <ul id="users">
    @for (user of users;track user.id){
    <li>
      <app-user [user]="user" (select)="onSelectedUser($event)"></app-user>
    </li>
    }
  </ul>
  @if(specUser){
  <app-tasks  [name]="specUser.name" [userId]="specUser.id"></app-tasks>
  } @else {
    <p >Select a user to see their tasks!</p>
  }
</main>
